{%load static%}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seif - 안전진단 앱 - 개인정보처리방침</title>
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #333;
            color: #fff;
            padding: 10px 0;
            text-align: center;
        }
        nav {
            display: flex;
            justify-content: center;
            gap: 15px;
        }
        nav a {
            color: #fff;
            text-decoration: none;
            padding: 10px;
            border-radius: 5px;
        }
        nav a:hover {
            background-color: #575757;
        }
        main {
            padding: 20px;
            text-align: center;
        }
        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px 0;
            position: flex;
            width: 100%;
            bottom: 0;
        }
        .menu-button {
            background-color: #333;
            color: white;
            padding: 10px 15px;
            border-radius: 5px;
            text-decoration: none;
            transition: background-color 0.3s;
        }
        .menu-button:hover {
            background-color: #20B9FC;
        }

        .image {
            width: 480px;
            height: auto;
            border: 2px solid black;
            display: block;
            margin: 10px auto;
            margin-bottom : 50px;
        }

        @media (max-width: 500px) {
            .image {
                width: 80%;
            }
        }

    </style>
</head>
<body>
    <header>
        <h1>SEIF 개인정보처리방침</h1>
        <nav>
            <!-- <a href="/">Home</a> -->
        </nav>
    </header>
    <main>
        <container>
            <div style="text-align: start; padding-left: 5%; padding-right: 5%; font-size: 14px; letter-spacing: normal;">
                <h4>1. 개인정보 처리방침</h4>
                <div style="text-indent: 2em;">개인정보 처리방침은 엘림주식회사(이하 "회사"라 합니다)가 특정 한 가입절차를 거친 이용자들만 이용 가능한 폐쇄형 서비스를 제공함에 있어, 개인정보를 어떻게 수집•이용•보관·파기하는지에 대한 정보를 담은 방침을 의미합니다. 개인정보 처리방침은 개인정보보호법 등 국내 개인정보 보호 법령을 모두 준수하고 있습니다. 본 개인정보 처리방침에서 정하지 않은 용어의 정의는 서비스 이용약관을 따릅니다.</div>

                <h4>2. 수집하는 개인정보의 항목</h4>
                <div style="text-indent: 2em;">회사는 서비스 제공을 위해 다음 항목 중 최소한의 개인정보를 수집합니다.</div>
                <div style="text-indent: 4em;">1) 회원가입 시 수집되는 개인정보</div>
                <div style="text-indent: 6em;">아이디, 비밀번호, 이름, 전화번호, 이메일, 부서명/직책</div>
                <div style="text-indent: 4em;">2) 별도로 수집되는 개인정보</div>
                <div style="text-indent: 6em;">1. 프로필 사진을 지정할 경우</div>
                <div style="text-indent: 8em;">• 프로필 사진</div>
                <div style="text-indent: 6em;">2. 이벤트•행사 참여를 할 경우</div>
                <div style="text-indent: 8em;">• 이름, 전화번호, 주소</div>
                <div style="text-indent: 6em;">3. 문의를 할 경우</div>
                <div style="text-indent: 8em;">• 서비스 이용 문의 : 이메일, 기관 이메일, 기기정보, 문의 내용에 포함된 개인정보</div>
                <div style="text-indent: 8em;">• 제휴 문의 : 이름, 전화번호, 이메일, 회사(기관)명, 직책</div>
                <div style="text-indent: 8em;">• 광고 문의 : 이름, 전화번호, 이메일, 회사(기관)명, 직책</div>
                <div style="text-indent: 6em;">4. 게시 중단 요청을 할 경우</div>
                <div style="text-indent: 8em;">• 요청인•대리인 정보(이름•단체명, 생년월일·설립일, 마스킹 된 신분증 사본, 연락처, 이메일, 증빙 자료 사본)</div>
                <div style="text-indent: 6em;">5. 광고 제공 및 발송 동의를 할 경우</div>
                <div style="text-indent: 8em;">• 기관, 입사년도, 기기정보, 생년 월일, 통신사 정보, IP주소, 쿠키, 서비스 이용기록, 광고ID, 추정된 개인정보(관심사)</div>

                <h4>3. 수집한 개인정보의 처리 목적</h4>
                <div style="text-indent: 2em;">수집된 개인정보는 다음의 목적에 한해 이용됩니다.</div>
                <div style="text-indent: 4em;">1. 가입 및 탈퇴 의사 확인, 회원 식별 및 관리, 근로자 소속 기관 확인</div>
                <div style="text-indent: 4em;">2. 개인정보 및 관심에 기반한 이용자 친화적 서비스 제공 및 기존•신규 시스템 개발•유지•개선</div>
                <div style="text-indent: 4em;">3. 불법•약관 위반 게시물 게시와 같은 부정행위 방지를 위한 운영 시스템 개발•유지•개선</div>
                <div style="text-indent: 4em;">4. 문의, 제휴 문의, 광고 문의, 게시 요청 관련 응대 및 처리</div>
                <div style="text-indent: 4em;">5. 회원관리, 서비스 운영 및 유지보수를 위한 통계 자료 도출</div>

                <h4>4. 개인정보의 처리 및 보유 기간</h4>
                <div style="text-indent: 2em;">회사는 법령에 따른 개인정보 보유 및 이용기간 또는 회원으로부터 개인정보를 수집 시에 동의 받은 개인정보의 보유 및 이용기간 내에서 개인정보를 처리 및 보유합니다.</div>

                <h4>5. 개인정보의 제3자 제공</h4>
                <div style="text-indent: 2em;">회사 는 개인정보의 처리 목적에서 명시한 범위 내에서만 처리하며, 이용자의 동의, 법률의 특별한 규정(『개인정보 보호법』 제17조 및 제18조)에 해당하는 경우에만</div>
                <div style="text-indent: 2em;">개인정보를 제3자에게 제공하고 그 이외에는 이용자의 개인정보를 제3자에게 제공하지 않습니다.</div>
                <div style="text-indent: 2em;">원활한 서비스 제공을 위하여 다음의 경우, 회원의 동의를 얻어 아래와 같이 필요 최소한의 범위로만 제공합니다.</div>
                <div style="text-indent: 4em;">1. 제공받는 자 : 이벤트 제휴사</div>
                <div style="text-indent: 4em;">2. 이용 목적 : 이벤트 상품 제공</div>
                <div style="text-indent: 4em;">3. 개인정보 항목 : 초대 이벤트 : 연락처 / 증정 이벤트 : 연락처, 주소</div>
                <div style="text-indent: 4em;">4. 보유 및 이용 기간 : 제공 목적 달성 시 지체 없이 파기</div>
                <div style="text-indent: 4em;">※ 재난, 감염병, 급박한 생명•신체 위험을 초래하는 사건•사고, 급박한 재산 손실 등의 긴급상황이 발생하는 경우 회원의 동의 없이 관계기관에 개인정보를 제공할 수 있습니다.</div>
                <div style="text-indent: 4em;">자세한 사항은 여기를 눌러 확인하시기 바랍니다.</div>

                <h4>6. 개인정보 처리의 위탁</h4>
                <div style="text-indent: 2em;">회사는 원활한 개인정보 업무처리와 보안성 높은 서비스 제공을 위하여, 신뢰도가 검증된 다음 회사 및 서비스에 개인정보 관련 업무 처리를 위탁하고 있습니다.</div>
                <div style="text-indent: 2em;">회사는 위탁계약 체결 시 위탁업무 수행목적 외 개인정보 처리금지, 기술적·관리적 보호조치, 재위탁 제한, 수탁자에 대한 관리:감독 등에 관한 사항을 계약서 등 문서에 명시하고,</div>
                <div style="text-indent: 2em;">수탁자가 개인정보를 안전하게 처리하는지를 감독하고 있습니다.</div>
                <div style="text-indent: 4em;">1. 나이스평가정보(주) : 본인 인증 서비스 지원</div>

                <h4>7. 개인정보의 파기</h4>
                <div style="text-indent: 2em;">1. 회사는 탈퇴 및 동의 철회 등 개인정보 수집 및 이용 목적이 달성될 경우 지체없이 해당 개인정보를 파기합니다.</div>
                <div style="text-indent: 2em;">2. 회원으로부터 동의 받은 개인정보 보유 기간이 경과하거나 처리 목적이 달성되었음에도 불구하고 다른 법령에 따라 개인정보를 계속 보존해야 하는 경우에는,</div>
                <div style="text-indent: 2em;">해당 개인정보를 별도의 데이터베이스 (DB)로 옮기거나 보관 장소를 달리하여 보존합니다.</div>
                <div style="text-indent: 2em;">3. 회사는 위와 같이 파기 사유가 발생한 개인정보는 지체없이 재생이 불가능한 방법으로 파기합니다.</div>
                <div style="text-indent: 2em;">전자적 파일 형태로 기록•저장된 개인정보는 기록을 재생할 수 없도록 파기하며, 종이 문서에 기록•저장된 개인정보는 분쇄기로 분쇄하거나 소각하여 파기합니다.</div>

                <h4>8. 정보주체의 권리, 의무 및 행사</h4>
                <div style="text-indent: 2em;">1. 회원은 언제든지 서비스 내부 [내 정보]에서 자신의 개인정보를 조회하거나 수정, 삭제, 탈퇴할 수 있으며,</div>
                <div style="text-indent: 2em;">세잎 정보보안팀 이메일(dkswjs114@gmail.com)을 통해 열람·정정·삭제·처리정지 요구 등의 권리를 행사할 수 있습니다. 이에 대해 회사는 지체없이 조치하겠습니다.</div>
                <div style="text-indent: 2em;">2. 회원의 개인정보 열람·정정·삭제·처리정지 요구는 법률에 특별한 규정이 있는 등의 경우에는 회사가 거절할 수 있습니다.</div>
                <div style="text-indent: 2em;">회원은 회사의 열람 등의 요구 거절에 대하여 세잎 정보보안팀으로 이의를 제기할 수 있습니다.</div>
                <div style="text-indent: 4em;">세잎 정보보안팀 이메일 : dkswjs114@gmail.com</div>
                <div style="text-indent: 2em;">3. 회사는 회원의 정보주체 권리에 따른 열람·정정·삭제·처리정지의 요구 시, 요구를 한 이용자가 본인이거나 정당한 법정대리인인지 확인합니다.</div>

                <h4>9. 개인정보의 안전성 확보조치</h4>
                <div style="text-indent: 2em;">회사는 개인정보의 안전성 확보를 위해 다음과 같은 조치를 취하고 있습니다.</div>
                <div style="text-indent: 4em;">1. 관리적 조치 : 내부관리계획 수립·시행, 전담조직 운영, 정기적 직원 교육</div>
                <div style="text-indent: 4em;">2. 기술적 조치 : 개인정보처리시스템 등의 접근 권한 관리, 접근통제시스템 설치, 개인정보의 암호화, 보안프로그램 설치 및 갱신</div>
                <div style="text-indent: 4em;">3. 물리적 조치 : 전산실 등의 접근 통제</div>

                <h4>10. 행태정보의 수집·이용 및 거부 등에 관한 사항</h4>
                <div style="text-indent: 2em;">회사는 서비스 이용 과정에서 사용자에게 최적화된 맞춤형 서비스 및 혜택, 온라인 맞춤형 광고 등을 제공하기 위하여 행태정보를 수집·이용하고 있습니다.</div>
                <div style="text-indent: 2em;">회사는 다음과 같이 행태정보를 수집하고 있습니다.</div>
                <div style="text-indent: 4em;">법적 근거 : 개인정보 보호법 제15조 제1항 제1호</div>
                <div style="text-indent: 4em;">수집하는 행태정보 항목 : 이용자의 웹사이트 및 앱 서비스 방문 이력, 기기 정보</div>
                <div style="text-indent: 4em;">행태정보 수집 방법 : 이용자 웹사이트/앱 서비스 이용 시 자동 수집 및 전송</div>
                <div style="text-indent: 4em;">행태정보 수집 목적 : 이용자의 관심 기반 맞춤형 광고 제공</div>
                <div style="text-indent: 2em;">회사는 다음과 같이 제3자가 행태정보를 수집·처리하도록 허용하고 있습니다.</div>
                <div style="text-indent: 4em;">1. 행태정보를 수집 및 처리하려는 광고 사업자 및 광고 플랫폼 : 애드핏, 애드팝콘, 네이버 파워링크, 에어브릿지</div>
                <div style="text-indent: 4em;">2. 행태정보 수집 방법 : 이용자 웹사이트/앱 서비스 이용 시 자동 수집 및 전송</div>
                <div style="text-indent: 4em;">3. 수집·처리되는 행태정보 항목 : 이용자의 웹사이트 및 앱 서비스 방문 이력, 기기 정보</div>
                <div style="text-indent: 4em;">4. 보유·이용 기간 : 수집일로부터 1년</div>
                <div style="text-indent: 2em;">회사는 최적화된 맞춤형 서비스 및 혜택, 온라인 맞춤형 광고 등에 필요한 최소한의 행태정보만을 수집하며, 사상, 신념, 학력·병력 등 개인의 권리·이익이나 사생활을 침해할 우려가 있는 민감한 행태정보를 수집하지 않습니다.</div>
                <div style="text-indent: 2em;">정보주체는 웹 브라우저의 쿠키 설정 변경 등을 통해 맞춤형 광고를 일괄적으로 차단·허용할 수 있습니다. 다만, 쿠키 설정 변경은 웹사이트 자동 로그인 등 일부 서비스의 이용이 제한될 수 있습니다.</div>
                <div style="text-indent: 2em;">&gt; 웹 브라우저를 통한 맞춤형 광고 차단/허용</div>
                <div style="text-indent: 4em;">1. Chrome</div>
                <div style="text-indent: 4em;">• Chrome에서 오른쪽 상단 : ' 표시를 클릭한 후, 「설정」을 클릭합니다.</div>
                <div style="text-indent: 4em;">• 설정 페이지 좌측에 「개인정보 보호 및 보안」을 클릭하고, 「인터넷 사용기록 삭제」를 클릭하여 인터넷 사용기록 삭제 여부를 선택합니다.</div>
                <div style="text-indent: 4em;">• 동일하게 설정 페이지 좌측에 「개인정보 보호 및 보안」을 클릭하고, 「쿠키 및 기타 사이트 데이터」를 클릭하여 쿠키를 허용하거나 차단할 수 있습니다.</div>
                <div style="text-indent: 4em;">2. Internet Explorer</div>
                <div style="text-indent: 4em;">• Internet Explorer에서 오른쪽 상단 : ' 표시를 클릭한 후, 「인터넷 옵션」을 클릭합니다.</div>
                <div style="text-indent: 4em;">• 「개인정보」 탭을 클릭하고, 「사용자 맞춤설정」을 클릭하여 개인정보 수집의 차단 여부를 선택합니다.</div>
                <div style="text-indent: 2em;">정보주체는 쿠키 설치를 거부할 수 있습니다. 이 경우 맞춤형 서비스 이용에 어려움이 있을 수 있습니다.</div>

                <h4>11. 개인정보 보호책임자</h4>
                <div style="text-indent: 2em;">회사는 개인정보 처리에 관한 업무를 총괄하는 개인정보 보호책임자를 두고 있습니다.</div>
                <div style="text-indent: 2em;">회사의 개인정보 보호책임자는 다음과 같습니다.</div>
                <div style="text-indent: 4em;">• 성명 : 강명석</div>
                <div style="text-indent: 4em;">• 직위 : 기획팀장</div>
                <div style="text-indent: 4em;">• 이메일 : dkswjs114@gmail.com</div>
                <div style="text-indent: 2em;">정보주체는 회사의 서비스 이용에 관한 개인정보 보호 관련 문의사항은 위의 개인정보 보호책임자에게 문의하시기 바랍니다.</div>

                <h4>12. 개인정보 처리 방침의 변경</h4>
                <div style="text-indent: 2em;">회사는 개인정보 처리 방침을 법령 및 회사의 정책에 따라 변경할 수 있습니다.</div>
                <div style="text-indent: 2em;">변경된 개인정보 처리 방침은 웹사이트에 게시하거나 개인에게 통지하여 이를 공지합니다.</div>
                <div style="text-indent: 2em;">개인정보 처리 방침이 변경될 경우 회사는 변경된 사항을 웹사이트에 게시하며, 웹사이트에 게시된 내용을 주의 깊게 확인하시기 바랍니다.</div>
            </div>

        </container>
    </main>
    <footer>
        <div class="mb-4">
            <div class="d-flex">
                <p class="mb-2">경기도 수원시 영통구 광교중앙로248번길 7-7, 이음센터 5층</p>
            </div>                        
            <div class="d-flex">
                <p class="mb-2"><i class='bi bi-envelope'></i> : safe114@elimsafety.com  <i class='bi bi-telephone'></i> : 1660-1140  <i class='bi bi-printer'></i> : 031-212-9002</p>
            </div>                         

        </div>
        <p class="mb-1" style="font-size: 12px;">개인정보보호책임자 : 강명석<a href="mailto:nicekang88@elimsafety.com" style="color:#ffffff;">(nicekang88@elimsafety.com)</a></p>
        <div class="col">
            <div class="col-auto-2">
                <div class="accordion accordion-flush">
                    <div class="accordion-item">
                        <div id="flush-collapseOne" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <p class="mb-0" style="font-size: 14px;">엘림주식회사  사업자번호 : 717-86-00698</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p>&copy; Elim Corp. All rights reserved.</p>
    </footer>
</body>
</html>
